@import "base";

.menu-nav {
  ul {
    list-style: none;
    overflow: hidden;
    li {
      text-align: right;
      a {
      text-decoration: none;
      padding: 30px 10px;
      &:hover {
        text-decoration: none;
        }
      }
    }
  }
  .active {
    text-decoration: underline;
  }
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  .menuicon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  .menuicon .navicon {
    background: white;
    display: block;
    height: 5px;
    position: relative;
    transition: background .5s ease-out;
    width: 30px;
  }
  .menuicon .navicon:before,
  .menuicon .navicon:after {
    background: $bluedark;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .5s ease-out;
    width: 100%;
  }
  .menuicon .navicon:before {
    top: 5px;
  }
  .menuicon .navicon:after {
    top: -5px;
  }
  .menubtn {
    display: none;
    &:checked ~ .menu {
      max-height: 100vh;
    }
    &:checked ~ .menuicon .navicon {
      background: transparent;
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }
  .menubtn:checked ~ .menuicon:not(.steps) .navicon:before,
  .menubtn:checked ~ .menuicon:not(.steps) .navicon:after {
    top: 0;
  }
  @media (min-width: $mobile_break) {
    li {
      float: left;
    }
    .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .menuicon {
      display: none;
    }
  }
}
