<footer>
  <div class="address">
    <h3>Studio Franklin, Inhaberin Vandeweerdt</h3>
    <p>Hardstrasse 81b, 8004 Zürich</p>
    <p>+41 (0)78 694 04 76</p>
    <p><a href="mailto:design@studio-franklin.com">design@studio-franklin.com</a></p>
    <p>U.ID CHE-490.399.210</p>
  </div>
  &copy; <%= Date.today.strftime('%Y') %> | design & code done by Studio Franklin.
</footer>
