<header class="header">
  <a href="/" class="logo">
    <h1>
        <img src="/assets/images/studiofranklin-logo2.svg" alt="studio franklin">
    </h1>
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <% sitemap.resources.select{|page| page.ext == '.html' && page.data.order.present?}
       .sort_by{|page| page.data.order }.each do |page| %>
      <li class="<%= if page == current_page then 'active' end %>">
        <%= link_to page.data.title, page %>
      </li>
      <% end %>
    </ul>
</header>
