---
title: portfolio
order: 1
---

<div class="intro" id="top">
  <h2>Titel. Lorem Ipsum.</h2>
  <img src="" alt="">
</div>

<div class="portfolio">
  <h2>Kunde oder Projektname</h2>
  Kurzbeschrieb Kunde
  <h3>Details</h3>
  <details open>
    <summary>...</summary>
    bladida foo.
  </details>
  <div class="projects-grid">
    <ul>
      <li></li>
    </ul>
  </div>
</div>
